{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome on my awesome homepage.
    </p>
<form action="/admin/loginIn" method="get">
    <input type="text" name="username" value="jiege" />
    <input type="text" name="password" value="jiege1" />
    <input type="submit" name="submit" value="submit" />
</form>
{% endblock %}